
<nz-spin [nzSpinning]="loading" nzTip="Loading orders..." style="width: 1100px !important;  ">

<nz-spin [nzSpinning]="loading" nzTip="Loading orders...">
  <div style="display: flex;"> 
  <div class="total container">
  <h1>Current Day Stats</h1>
  <button nz-button nzType="primary" (click)="open()">+</button>
  
  <div class="stats-container">
    <div class="stat-item">
      <i class="fas fa-clipboard-list stat-icon"></i> 
      <div class="label" style="margin-right: 50px;">Total Orders</div>
      <div class="orderNumber">{{ totalOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-hourglass-half stat-icon"></i> 
      <div class="label"> Current number of Pending Orders</div>
      <div class="orderNumber">{{ pendingOrders }}</div>
    </div>
  
     
    <div class="stat-item">
      <i class="fas fa-utensils stat-icon"></i> 
      <div class="label"> Current number of Orders Being Prepared</div>
      <div class="orderNumber">{{ preparingOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-concierge-bell stat-icon"></i> 
      <div class="label">Current number of Orders Served</div>
      <div class="orderNumber">{{ servedOrders }}</div>
    </div>
  
    <div class="stat-item">
      <i class="fas fa-clock stat-icon"></i> 
      <div class="label"> Number of orders Served On Time</div>
      <div class="orderNumber">{{ servedOnTime }}</div>
    </div>
  
    <div class="stat-item">
      <div class="label"> Number of orders Served Out of Time</div>
      <i class="fas fa-history stat-icon"></i>
      <div class="orderNumber">{{ servedOutOfTime }}</div>
    </div>
  </div>
  <div style="margin-top: 240px;">
    <h2 class="ml-3">Chef Statistics</h2>
    <div class="chef-container">
      <div *ngFor="let stat of chefStats" class="chef-stat-item">
        <img class="chef-image" [src]="'assets/photos and logos/chef1.jpg'" alt="Chef Image">
        <i class="fas fa-chef stat-icon"></i>
        
        <div *ngIf="getChefIsOnline(stat.chef)" class="online-container">
          <i class="fas fa-circle online-icon"></i>
          <span class="online-text">Online</span>
        </div>
        
        <div *ngIf="!getChefIsOnline(stat.chef)" class="offline-container">
          <i class="fas fa-circle offline-icon"></i>
          <span class="offline-text">Offline</span>
        </div>
        
        <div class="label1">Chef: {{ stat.chef.employeeInformation.name }}</div>
        <div class="value">Total Served: {{ stat.totalServed }}</div>
        <div class="value">Served On Time: {{ stat.servedOnTime }}</div>
        <div class="value">Served Late: {{ stat.servedOutOfTime }}</div>
        <div class="value">Chef-Efficiency: {{ stat.chef.employeeInformation.efficiency }}</div>
        <!-- <div class="value">Chef-Efficiency: {{ ((stat.servedOnTime === 0 && stat.totalServed === 0) ? 0 : ((stat.servedOnTime / stat.totalServed) * 100).toFixed(2)) }}%</div> -->
      </div>
    </div>
  </div>

<div> </div>
  <h3 class ="ml-3">Item Statistics</h3>
  <div class="item-statistics-container">
    <div *ngFor="let itemDetail of itemDetails" class="item-statistic">
      <div class="item-name">{{ itemDetail.item.item.itemName }}</div>
      <div class="item-count">Total-Item: {{ itemDetail.count }}</div>
    </div>
  </div>
  </div>
  </div>
</nz-spin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nz-drawer
  [nzVisible]="visible"
  [nzWidth]="1370"
  nzPlacement="right"
  nzTitle=""
  [nzExtra]="extra"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class ="nzTitle"> Graph- Display</div>
    <app-graph></app-graph>

   
  </ng-container>
</nz-drawer>
    <ng-template #extra>
    </ng-template>