
<div class="graph-container">
   
    <div class="graph">
  
        <canvas baseChart
                [datasets]="lineChartData1"
                [labels]="lineChartLabel1"
                [options]="lineChartOptions1"
                [legend]="lineChartLegend"
        ></canvas>
        <h3>  orders vs Hours</h3>
    </div>
  
    <div class="graph">
        <canvas baseChart
                [datasets]="lineChartData2"
                [labels]="lineChartLabel2"
                [options]="lineChartOptions2"
                [legend]="lineChartLegend"
        ></canvas>
        <h3> Chef-Efficiency vs Hours</h3>
    </div>
    <div class="graph">
        <canvas baseChart
                [datasets]="lineChartData3"
                [labels]="lineChartLabel3"
                [options]="lineChartOptions3"
                [legend]="lineChartLegend"
        ></canvas>
        <h3>  Orders vs Days </h3>
    </div>
    <div class="graph">
        <canvas baseChart
                [datasets]="lineChartData4"
                [labels]="lineChartLabel4"
                [options]="lineChartOptions4"
                [legend]="lineChartLegend"
        ></canvas>
        <h3> Chef-Efficiency vs Days </h3>
    </div>
    <div class="graph">
        <canvas baseChart
                [datasets]="lineChartData5"
                [labels]="lineChartLabel5"
                [options]="lineChartOptions5"
                [legend]="lineChartLegend"
        ></canvas>
        <h3> Orders vs Month </h3>
    </div>
    <div class="graph">
        <canvas baseChart
                [datasets]="lineChartData6"
                [labels]="lineChartLabel6"
                [options]="lineChartOptions6"
                [legend]="lineChartLegend"
        ></canvas>
        <h3> Chef-Efficiency vs Month </h3>
    </div>
</div>

